.divKursSc {
    width:200px;
    height: 100px;
    font-weight: bold;
    font-size: 20px;  
    text-align: center;
    vertical-align: middle;    
    border:2px solid black;
    float:left;
    background-color:#669999;
    margin:5% 2% 0 5%;
  }

  
  .divKurs {
    width:200px;
    height: 100px;
    font-weight: bold;
    font-size: 20px;  
    text-align: center;
    vertical-align: middle;    
    border:2px solid black;
    float:left;
    background-color:#669999;
    margin:5% 2% 0 5%;
  }
  
  .divKursLang {
    width:200px;
    height: 100px;
    font-weight: bold;
    font-size: 20px;  
    text-align: center;
    vertical-align: middle;    
    border:2px solid black;
    float:left;
    background-color:#4d648d;
    margin:5% 2% 0 5%;
  }
  
  
.txt-stil {
    font-size: 14px;  
    font-weight: normal;
}

.txt-stil2 {
    font-size: 14px;  
    font-weight: normal;
    text-decoration: underline;
}


  
#naslov {
    display: block;
    margin:0 20%;
}


.kContainer {
    background-color: #A9C7C7;
    height: 590px;
    margin:auto;
    display: block;
}


.nContainer {
    background-color: #A9C7C7;
    margin:auto;
    display: block;
    height: 590px;
    width:90%;
    position:relative;
}

.nast{
   margin-left: 8%;
}

.btnNajbolji {
    position: absolute;
    bottom:0%;
    left: 13%;
}


.sel {
    right:11%;
    position: absolute;
    top:20%;
}


@media screen and (max-width: 1500px) {
    .sel {
        right:10%;
        position: absolute;
        top:18%;
    }
    
  }